swiper-container {
  height: 100%;
  width: 100%;
}

.slide-info {
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

.thumbs-swiper {
  max-height: calc(100% - 21%)
}

.image-info {
  width: 100%;
}
